.catalog__title {
  font-size: 36px;
  width: 254px;
  color: $dark;
  line-height: 60px;
  background-color: $green;
  margin: 32px 44px 35px 22px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__item {
  width: 320px;
  min-height: 210px;
  border: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    flex-direction: row;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 66px 312px 110px 33px;
  }

  .catalog__item {
    width: 324px;
    min-height: 431px;
    background-color: #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 60px;
    line-height: 60px;
    margin: 83px 904px 111px 113px;
  }

  .catalog__item {
    width: 245px;
  }
}
