.optional-catalog__wrapper {
  margin: 0 auto;
}

.optional-catalog__title {
  color: $dark;
  font-size: 24px;
  line-height: 24px;
  margin: 31px 77px 45px 19px;
}

.optional-catalog__list {
  display: flex;
  flex-direction: column;
}

.optional-catalog__product-name {
  color: $dark;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 14px 170px 15px 22px;
}

.optional-catalog__item tr {
  display: flex;
  justify-content: space-between;
}

.optional-catalog__priece {
  color: $dark;
  font-family: $second-font;
  line-height: 14px;
}

.optional-catalog__btn {
  margin: auto;
  width: 61px;
  height: 15px;
  color: $white;
  font-family: $white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.optional-catalog__button-gift {
  color: #ffffff;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .optional-catalog__title {
    font-size: 36px;
    line-height: 36px;
    margin: 71px 365px 75px 67px;
  }

  .optional-catalog__item {
    display: flex;
    flex-direction: row;
  }

  .optional-catalog__product-name {
    font-size: 20px;
    line-height: 20px;
  }

  .optional-catalog__item tr {
    font-size: 16px;
    line-height: 16px;
    padding-left: 80px;
  }

  .optional-catalog__btn {
    height: 15px;
    color: $white;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: $green;
  }
}

@media (min-width: $desktop-width) {
  .optional-catalog__title {
    font-size: 36px;
    line-height: 36px;
    margin: 79px 995px 103px 109px;
  }

  .optional-catalog__item {
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .optional-catalog__btn {
    width: 245px;
    height: 40px;
  }
}
