.programs-selection {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin-bottom: 32px;
  min-height: 584px;
}

@media (min-width: $tablet-width) {
  .programs-selection {
    min-height: 774px;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .programs-selection {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 372px;
    margin-bottom: 72px;
  }
}
