.page-main__main-screen{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}
   

.page-main__header{
  color: $dark;
  font-size: 36px;
  margin-top: 29px;
  margin-right: 37px;
  margin-bottom: 19px;
  margin-left: 38px;
}

.page-main__text{
    color: $dark;
    margin-top: 19px;
    margin-right: 62px;
    margin-left: 60px;
    text-transform: uppercase;
}

.page-main__button{
    color:$white;
    line-height: 18px;
    text-transform: uppercase;
    width: 280px;
    min-height: 40px;
    background-color: $green;
}

@media (min-width: $tablet-width){
    .page-main__header{
        font-size: 60px;
        line-height: 60px;
        margin-top: 68px;
        margin-right: 238px;
        margin-left: 120px;
        color: $dark;
    }
}

@media (min-width: $tablet-width){
    .page-main__text{
        font-size: 20px;
        margin-top: 33px;
        margin-right: 368px;
        margin-left: 118px;
        line-height: 20px;
    }
}

@media (min-width: $tablet-width){
    .page-main__button{
        width: 245px;
        min-height: 52px;
        font-size: 20px;
        line-height: 20px;
        background-color:$green;
        color:$white;
    }
}

@media (min-width: $desktop-width){
    .page-main__main-screen{
        margin-bottom: 80px;
    }
}

@media (min-width: $desktop-width){
    .page-main__header{
        margin-top: 113px;
        margin-left: 193px;
        font-size: 60px;
        line-height: 60px;
        color:$dark;
    }
}

@media (min-width: $desktop-width){
    .page-main__text{
        font-size: 20px;
        line-height: 20px;
        margin-top: 33px;
        margin-left: 190px;
        color:$dark;
    }
}

@media (min-width: $desktop-width){
    .page-main__button{
        margin-top: 70px;
        margin-left: 190px;
    }
}




















